<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/components/navbar/navbar.css" />
    $CSS_LINK
    <title>$TAB_TITLE</title>
  </head>
  <body>
    <header>
      <nav id="navbar">
        
        <div id="left-side-content">
     
          <a href="/">Home</a>

          <div id="dropdown">
            
            <button id="dropbtn">
              Documentation
            </button>


            <div id="dropdown-content">
              $DROPDOWNLINKS
            </div>
          </div>
        </div>
        <div>
          <a href ="login" id="login"> 
            Login
          </a>
        </div>
        <script src="./components/navbar/navbar.js"></script>
     
      </nav>
    </header>

    <main>
  </body>
</html>
